<div class="top-wrapper">
  <div class="top-inner-text">
    <!--タイトル-->
    <h1>Heal Scan</h1>

    <!--サブタイトル-->
    <p class="sub-title fs-6 fs-md-5 fs-lg-4">-忙しい毎日に寄り添う あなたにぴったりの癒しの提案-</p>

    <!--診断ボタン-->
    <%= link_to'診断開始', new_diagnosis_path ,class: "btn btn-secondary btn-lg" %>

    <!--利用規約・プライバシーポリシー注意書き-->
    <div class="term_message">
      <p>診断を開始すると、【利用規約・プライバシーポリシー】に同意したものとみなします</p>
    </div>
  </div>
</div>
