<div class="top-wrapper">
  <div class="top-inner-text">
    <h1>Heal Scan</h1>
    <p class="sub-title">-忙しい毎日に寄り添う あなたにぴったりの癒しの提案-</p>
      <div class="opacity-75">
        <button type="button" class="btn btn-light"><%= link_to'診断開始', new_diagnosis_path %></botton>
      </div>
      <div class="term_message">
        <p>診断を開始すると、利用規約・プライバシーポリシーに同意したものとみなします</p>
      </div>
  </div>
</div>
