<h1>診断結果</h1>
<p><%= @diagnosis_result.result_summary %></p>
<p><strong>具体的な癒し方法</strong> <%= simple_format(@diagnosis_result.suggestion) %></p>
<%= link_to 'トップへ戻る', root_path, class: 'btn btn-primary' %>
<%= link_to "もう一度診断する", new_diagnosis_path, class: "btn btn-secondary mt-3" %>
