<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class="d-flex align-items-center gap-3">
          <p class="mb-0">Copyright © 2025. healscan</p>
          <%= link_to '利用規約・プライバシーポリシー', terms_path %>
        </div>
      </div>
    </div>
  </div>
</footer>
