<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12 col-md-10'>
        <div class='small'>Copyright © 2025. healscan</div>
        <div class='small'><%= link_to '利用規約・プライバシーポリシー', terms_path %></div>
      </div>
    </div>
  </div>
</footer>
