<% labels.each do |label| %>
  <li class="list-group-item"
      role="option"
      data-action="click->autocomplete#select"
      data-autocomplete-value="<%= h(label) %>">
    <%= h(label) %>
  </li>
<% end %>