<% content_for(:title, t('.title')) %>

<div class="container py-4">
  <div class="row">
    <div class="col-12 col-md-11 mx-auto">

      <!-- タイトル -->
      <h2><%= t('.title') %></h2>

      <!-- 掲示板一覧 -->
      <% if @bookmark_boards.present? %>
        <div class="row g-3">
          <%= render partial: "boards/board", collection: @bookmark_boards, as: :board, locals: { truncate: true } %>
        </div>
      <% else %>
        <p><%= t('.no_result') %></p>
      <% end %>

      <!-- ページネーション-->
      <div class="pagination">
        <%= paginate @bookmark_boards, theme: 'bootstrap-5' %>
      </div>
      
    </div>
  </div>
</div>
