.board_list {
  ul {
  list-style: none;
  }
}

.board-body {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;

  line-height: 1.5;
  max-height: calc(1.5em * 3);
}

.pagination {
  justify-content: end;
}
