.terms-page {
  // 文字のカラー指定
  color: rgb(99, 100, 100);
 // 箇条書きのスタイル指定
  .terms-list-style {
    list-style: square;
  }
 // タイトルの装飾
  h2 {
    position: relative;
    display: inline-block;
    padding: 0 55px;
  }

  h2:before, h2:after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 45px;
    height: 1px;
    background-color: black;
  }

  h2:before { left: 0; }
  h2:after { right: 0; }

  // 画面サイズごとに文字サイズ変更
  .term_message { font-size: 12px; }

  @media (min-width: 768px) {
    .term_message { font-size: 13px; }
  }

  @media (min-width: 992px) {
    .term_message { font-size: 15px; }
  }
}