.top-wrapper {
    background-image: url('top.jpg');
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
  
    .top-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: white;

    .sub-title {
      font-size: 20px;
      color: white;

      @media screen and (max-width: 767px) {
        font-size: 2rem;
      }
    }

    .term_message {
      font-size: 10px;
      color: rgb(234, 230, 230);
    }
  }
}

.admin-wrapper {
    background-image: url('admin.jpg');
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
    
    .admin-inner-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
      font-size: 3rem;
      color: white;
    }
  }
